@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v8/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIfFd3A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

<style>
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Crimson Text', sans-serif;
}
</style>

#site-title {
    font-family: "Roboto", "Crimson Text",sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2em;
}


body,
h1,
h2,
h3,
h4 {
	font-family: "Roboto", "Crimson Text", "PT Sans", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

a {
	font-family: "Roboto", "Crimson Text", "PT Sans", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

.footer {
	font-family: "Roboto", "Crimson Text", "PT Sans", "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

.widget-title {
  font-weight: bold;
  font-family: "Roboto", "Crimson Text", "PT Sans", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  padding: 10px;
  background-color: #E8E8E8;
  text-transform: uppercase;
}

.widget-text {
  padding: 10px;
  font-family: "Roboto", "Crimson Text", "PT Sans", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  background-color: #FCFCFC;
}    

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: black;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

#topWhiteBar {
  border-top: 35px solid white;
}


body {
        padding-top: 0px;
        padding-bottom: 0px;
      }
.in.collapse+a.btn.showdetails:before
{
    content:'Abstract «';
}
.collapse+a.btn.showdetails:before
{
    content:'Abstract »';
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
  color: black;
}


.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.container{
  padding-left: 50px
}

hr{
  border-top: 1px solid #E8E8E8;
}

